.container {
    max-width: 520px;
    max-height: 334px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 461px){
    .container {
        width: 100%;
    }
}