.content{
    margin: var(--baseMargin);
    margin-top: var(--margin-s);
    padding: var(--padding-xs) var(--basePadding) 14px;
    padding-right: var(--padding-xxs);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    min-height: calc(100vh - 120px);
}

.content.empty {
    min-height: 80vh;
}

.trainingPageContent {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.trainingPageContent::-webkit-scrollbar {
    width:8px; 
    background-color: #fff;
}
.trainingPageContent::-webkit-scrollbar-thumb{
    background-color: var(--greyDisabled);
    border-radius: 3px;
    height: 100px;
}

@media (max-width: 481px){
    .content{
        margin-inline: 0;
        padding-top: var(--baseMediumPadding);
        padding-inline: var(--baseMediumPadding);
        padding-bottom: 37px;
    }
}