.headerContainer{
    display: flex;
    justify-content: space-between;
}
.pageName{
    font-size: var(--fontSize-m);
    line-height: var(--lineHeight-m);
    font-weight: 500;
}
.headerContainer .settingsBtn {
    font-size: var(--fontSizeMedium);
    line-height: var(--lineHeightMedium);
    font-weight: 400;
    color: var(--black);
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.headerContainer .settingsBtn:focus{
    color: var(--black);
}
.headerContainer .settingsBtn:hover{
    background-color: #dae4f7;
}