.title {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    width: 180px;
    margin-bottom: 20px;
}

.data {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

@media (max-width: 835px){
    .title{
        width: auto;
    }
}
