.emptytrainings {
    width: 100%;
    text-align: center;
}

.imgWrap {
    margin: 0 auto; 
    margin-top: 50px;
    width: 200px;
    height: 175px;
    margin-bottom: var(--baseMargin);
}
.imgWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: var(--fontSizeLarge);
    font-weight: 500;
    line-height: var(--lineHeightLarge);
    color: var(--black);
}
